.btn-inicioSesion {
  background-color: var(--secondary-color);
  color: var(--font-white);
}
h3 {
  color: var(--font-color-light);
}
.container-login {
  background-color: white;
}
.container-login svg {
  fill: var(--font-black);
}
.container-login label {
  font-weight: 600;
}
.container-login input {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--stroke-color);
  padding: 10px 15px;
}
